@model BloodBank.Models.BloodBag.BloodBagDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BloodBagDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BloodID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysStored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysStored)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtractionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtractionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodValue)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
