@model IEnumerable<BloodBank.Models.BloodBag.BloodBagListItem>

@{
    ViewBag.Title = "Index";
}

<div id="inventory">
    <h2>Inventory</h2>

    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            @TempData["SaveResult"]
        </div>
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BloodID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysStored)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodType)
            </th>
            <th>
                @Html.ActionLink("Create New", "Create")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaysStored)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodValue)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BloodID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BloodID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BloodID })
                </td>
            </tr>

        }

    </table>
</div>
