@model BloodBank.Models.PatientModels.PatientDetail

<div class="row">
    <h2>Patient Information</h2>
    
    <div class="col-sm-3">
        <dl class="dl-horizontal">
            <dt>@Html.LabelFor(model => model.FirstName)</dt>
            <dd>@Html.DisplayFor(model => model.FirstName)</dd>

            <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
            <dd>@Html.DisplayFor(model => model.LastName)</dd>

        </dl>
    </div>

    <div class="col-sm-3">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.BirthDate)</dt>
            <dd>@Html.DisplayFor(model => model.BirthDate)</dd>

            <dt>@Html.DisplayNameFor(model => model.CheckInDate)</dt>
            <dd>@Html.DisplayFor(model => model.CheckInDate)</dd>
        </dl>
    </div>

    <div class="col-sm-2">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Age)</dt>
            <dd>@Html.DisplayFor(model => model.Age)</dd>

            <dt>@Html.DisplayNameFor(model => model.BloodType)</dt>
            <dd>@Html.DisplayFor(model => model.BloodValue)</dd>
        </dl>
    </div>

</div>

<hr />

<div class="row">
    @{ Html.RenderAction("Index", "BloodOrder", new {id = Model.PatientID });}
</div>