@model IEnumerable<BloodBank.Models.Donor.DonorListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Donors</h2>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["SaveResult"]
    </div>
}

<table class="table table-hover table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodType)
            </th>
            <th>
                @Html.ActionLink("New Donor", "Create", null, htmlAttributes: new { @class = "btn btn-success btn-sm", @type = "button" })
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodValue)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DonorID }, new { @class = "btn btn-primary btn-sm", @type = "button" })
                    @Html.ActionLink("Details", "Details", new { id = item.DonorID }, new { @class = "btn btn-warning btn-sm", @type = "button" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.DonorID }, new { @class = "btn btn-danger btn-sm", @type = "button" })
                </td>
            </tr>
        }
    </tbody>

</table>
