@model IEnumerable<BloodBank.Models.BloodOrder.BloodOrderListItem>

@{
    AjaxOptions DetailOptions = new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "modal-placeholder",
        OnSuccess = "$('#myModal').modal('show')",

    };

    AjaxOptions FormOptions = new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "modal-placeholder",
        OnSuccess = "$('#myModal').modal('show')"

    };

    var _id = ViewContext.RouteData.Values["id"];
}

<h2>Patient Orders</h2>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["SaveResult"]
    </div>
}

<table class="table table-hover table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Ajax.ActionLink("New Order", "_PartialCreate", new { id = _id }, FormOptions, htmlAttributes: new { @class = "btn btn-success btn-sm", @type = "button" })
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodValue)
                </td>
                <td style="width:20%">
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td style="width:30%">
                    @Ajax.ActionLink("Edit", "_PartialEdit", new { id = item.ID }, FormOptions, htmlAttributes: new { @class = "btn btn-primary btn-sm", @type = "button" })
                    @Ajax.ActionLink("Details", "_PartialDetails", new { id = item.ID }, DetailOptions, htmlAttributes: new { @class = "btn btn-warning btn-sm", @type = "button" })
                    @Ajax.ActionLink("Delete", "_PartialDelete", new { id = item.ID }, FormOptions, htmlAttributes: new { @class = "btn btn-danger btn-sm", @type = "button" })
                </td>
            </tr>
        }
    </tbody>

</table>


